{% extends 'base.html' %} {% load static %} {% block title %}Voter
Login{%endblock %} {% block content %}
<style>
  .box
  {
    margin-top: 150px;
    margin-bottom:90px;
  }
</style>
<main>
  <form class="box" method="post" action="{% url 'org_login' }">
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="signup-form">
                  <!-- <i class="fas fa-users"></i> -->
                    <h2 class="section-heading" style="text-align:center;"> <i class='fas fa-briefcase'></i> &nbsp;Organization Login</h2>
                    <form>
                        <div class="form-group">
                            <label for="signup-username">Username</label>
                            <input type="text" class="form-control" id="signup-username" placeholder="Enter Username  ">
                        </div>
                        <div class="form-group">
                            <label for="signup-password">Password</label>
                            <input type="password" class="form-control" id="signup-password" placeholder="Password">
                        </div>
                        <center>
                            <button type="submit" class="btn btn-primary">Login </button>
                        </center>
                      
                    </form>
                </div>
          </div>
  </form>
</main>

{% endblock %}
