{% extends 'base.html' %} 
{% load static %} 
{% block title %} Voter Login {%endblock %} 
{% block content %}
<style>
  .box
  {
    margin-top: 150px;
    margin-bottom:90px;
  }
</style>
<main>
  <form class="box" method="post" action="{% url 'voter_register' }">
    {% csrf_token %}
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="signup-form">
                  <!-- <i class="fas fa-users"></i> -->
                    <h2 class="section-heading" style="text-align:center;"> <i class="fas fa-users"></i>&nbsp;Citizen | Voter Registration</h2>
                    
                      <div class="form-group">
                            <label for="signup-fname">First Name</label>
                            <input type="text" class="form-control" id="signup-fname" name="first_name" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="signup-lname">Last Name</label>
                            <input type="text" class="form-control" id="signup-lname" name="last_name" placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="signup-username">Username</label>
                            <input type="text" class="form-control" id="signup-userma,e" name="username" placeholder="Enter username" required>
                        </div>
                        <div class="form-group">
                            <label for="signup-email">Email address</label>
                            <input type="email" class="form-control" id="signup-email" name="email" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="signup-password">Password</label>
                            <input type="password" class="form-control" id="signup-password"  name="password" placeholder="Password" required>
                        </div>
                        <center>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </center>
                      
                  
                </div>
          </div>
  </form>
</main>

{% endblock %}
