{% extends 'voter/voter_base.html' %}

{% block title %}
  {{ voter.user.username }} Dashboard
{% endblock %}

{% block content %}
  <div class="container">
    <div class="card bg-secondary text-white">
    <div class="card-body">
      <h1 class="card-success">Welcome to {{ voter.user.username }}'s Dashboard!</h1>
    </div>
  </div>   
    <div class="card">
      <div class="card-header">
        <h2>Voter Information</h2>
      </div>
      <div class="card-body">
        <p><strong>Name:</strong> {{ voter.user.get_full_name }}</p>
        <p><strong>Username:</strong> {{ voter.user.username }}</p>
        <p><strong>Email:</strong> {{ voter.user.email }}</p>
        <p><strong>Organization:</strong> {{ voter.organization.name }}</p>
       
      </div>
    </div>


    <div class="card mt-3">
      <div class="card-header">
        <h2>Recent Votes</h2>
      </div>
      <div class="card-body">
        <ul>
          {% for vote in recent_votes %}
            <li>{{ vote }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

   
  </div>
{% endblock %}
